<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Pagina Arduino
        </title>
        <link href="/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
            <header>
                <h1>Sending DATA</h1>
                <h2>Getting data from the front end to an Arduino</h2>
            </header>
            <div id="content">
                <div class="container">
                    <div id="red-block" class="color-block"></div>
                    <div id="green-block" class="color-block"></div>
                    <div class="text-block">
                        <p>Pressing a Button Will Send Data to a Connected Arduino</p>
                        <p>This data will determine which LED is turned on or off.</p>
                    </div>
                </div>
            </div>




        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
        <script src="javascript/main.js"></script>
        <!-- <script>
        var socket = io();
        var current = "0";
        var shape = document.getElementById('change-color');
        var buttonState = document.getElementById('button-state');
        var colorArray =["LightSkyBlue","LightSlateGray","DarkOliveGreen","orange","DarkRed","gold","purple"];

        socket.on("data",function(data){
            if(data ==="1"){
                buttonState.innerHTML = "pressed";
                //console.warn(data);
                if(data === current){
                    var newColor = colorArray[Math.floor(Math.random()*colorArray.length)];
                    shape.style.fill = newColor;
                }
            }else{
                buttonState.innerHTML = "not Pressed"
            }
            current = data;
            //console.warn("dados current : "+current);
        });
        
        </script> -->
    </body>
</html>